<!DOCTYPE html>
<html lang="en">
<head>
	<title>OSHTS - Chatroom</title>
	<meta charset="UTF-8">
	<meta name="description" content="OSHTS - Obuasi Senior High Techpnical School">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='account/css/main.css')}}">
	<link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='images/apple-icon-57x57.png')}}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='images/apple-icon-60x60.png')}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='images/apple-icon-72x72.png')}}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='images/apple-icon-76x76.png')}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='images/apple-icon-114x114.png')}}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='images/apple-icon-120x120.png')}}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='images/apple-icon-144x144.png')}}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='images/apple-icon-152x152.png')}}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/apple-icon-180x180.png')}}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static', filename='images/android-icon-192x192.png')}}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='images/favicon-96x96.png')}}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
	<link rel="shortcut icon" type="image/iconn" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
	<link rel="manifest" href="{{url_for('static', filename='images/manifest.json')}}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#323232">
	<meta  name="apple-mobile-web-app-capable" content="yes">
	<meta  name="apple-mobile-web-app-title" content="OSHTS">
	<meta  name="apple-mobile-web-app-status-bar-style" content="default">
<!--===============================================================================================-->

<style>
	.screen{
		height: 430px;
		width: 100%;
		//background-color: #333333;
		display: block;
		overflow-y: scroll;
	}

	.send{
		background-color: #4158d0;
		padding: 10px;
		height:52px;
		width: 52px;
		border-radius: 50%;
		text-align: center;
		position: relative;
		left: 43%;
	}

.message{
		background-color: #4158d0;
		padding: 10px;
		color: white;
		font-size: 14px;
		margin-top:10px;
		margin-left: 5px;
		border-radius: 5px;
		height: auto;
		justify-items:start;
		border-radius: 20px;
		max-width:400px;
		border-bottom-left-radius: 0px;
}

.sent_msg{
	background-color: #cccccc;
	border-radius: 20px;
	border-bottom-right-radius: 0px;
}
</style>
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="width:80%;">
				<span class="login100-form-title js-tilt" data-tilt>
					Chatroom
				</span>
				<div class="screen" id="screen">
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Password is required">
					<input class="input100" id="message" type="text" name="message" placeholder="Enter your message" >
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<img width="20px" src="{{url_for('static', filename='images/chat.ico')}}">
					</span>
				</div>
				<div class="send">
					<button onclick="send()"><img src="{{url_for('static', filename='images/send.ico')}}"></button>
				</div>
			</div>
			</div>
		</div>




<!--===============================================================================================-->
	<script src="{{url_for('static', filename='account/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='account/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='account/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='account/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='account/vendor/tilt/tilt.jquery.min.js')}}"></script>
	  <script src="{{url_for('static', filename='js/chatroom.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='account/js/main.js')}}"></script>

</body>
</html>
